<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h2>Войти в чат</h2>
        <label for="nickname">
            <input id="nickname" placeholder="Ваш ник" />
        </label>
        <button onclick="joinChat()">Войти</button>

        <h3>Активные чаты:</h3>
        <ul>
            <li th:each="dialog : ${chats}">
                <a th:href="@{/chat/{id}(id=${dialog.id})}">
                    <span th:text="${dialog.creatorNickname}"></span>
                    <span th:text="${dialog.lastMessage}"></span>
                </a>
            </li>
        </ul>

        <script>
            function joinChat() {
                const nick = document.getElementById("nickname").value || "Анон";
                const dialogId = crypto.randomUUID();
                window.location.href = `chat/${dialogId}?nickname=${nick}`;
            }

        </script>
    </body>
</html>